body {
    border: dashed;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'side main main main'
    'side main main main'
    'footer footer footer footer';

}

header {
    grid-area: header;
    align-self: center;
}

#main{
    grid-area: main;
    background-color: blue;
}

.gameboard {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    border: dashed;
    
}