body {
    border: dashed;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'side main main main'
    'side main main main'
    'footer footer footer footer';

}

header {
    grid-area: header;
    align-self: center;
}

#main {
    grid-area: main;
    background-color: blue;

}

#gameBoard {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    height: 300px;
    width: 300px;
}

#main div div {
    background-color: yellow;
    height: 90px;
    width: 90px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


